<br><br><br>
<center>
	<h1>Welcome to Mack Track</h1>
		<h3>Here is your mack Address:- </h3>
		<div class="mac">
			<%=@mac%>
		</div>
</center>

<style>
h1{
	font-size: 32px;color: #151515;
}
h3{
	font-size: 26px;color: #04B4AE;
}
.mac{
	font-size: 22px;color: #F7BE81;
}
</style>
